@media only screen and (max-width:2200px){
body{  background: 	#c9c9ff;
	margin: 0;
	padding: 0;
	  font-family: "Nunito Sans", sans-serif;
	  
}                                                   

.btn1 {
	

  border: none;
  color: white;
   width:12%;

  font-size: 20px;
  margin: 1px 2px;
  opacity: 5;
  transition: 0.3s;
}.btn2:hover {
    opacity: 10;
	
}

.header-nav {
	text-align:center;
		font-size: 30px;
    margin: 0;
    padding: 10px 22px;
    width: 100%;
   background-color:black;
    height: 100%;
	
	position: top; 
   display: block;
}

.pic>img{
	  width: 80%;

    height: 60%;
}
	
input[type=text] {
	
	
    width: 100%;
	  height: 10%;
    padding: 1px 2px;
    margin: 1px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
	 background-color:#737373 ;
	 
}

.pic{  position: relative;
    
text-align: center;
	padding: 17px 0px;
	background: #737373;
	
}
.logi{
text-align:  center;
position: absolute;
top:26%;
height:10%;
      margin-left: 35%;
	  width:20%;
	
}

.navbar a:hover {
  background: #f1f1f1;
  color:blue;
}
.container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}
.btn2 {margin: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 40%;

    opacity: 0.9;   
 border-radius: 10%;
	
}.btn2:hover {
    opacity: 1;
}


.btn {
    background-color: #4CAF50;
    color: white;
    padding: 36px 30px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;   

	
}

.btn:hover {
    opacity: 1;
}
.pic h1{
	font-size: 35px;
	margin: 0;

	color: #C2C;

	text-align:center;
	font-family: "Nunito Sans", sans-serif;
}
.r {
   height: 30%;
    width: 30%;
   
}.f {
    height: 30%;
    width: 30%;
}.c {
    height: 25%;
    width: 25%;
}


il{height: 100%;
    width: 100%;
}
.dot{
	  
margin-top: 100px;
	 height: 235px;
    width: 235px;
   
  text-align: center;  border-radius: 50%;
    display: inline-block;
	  border: 4px solid black;
	  margin-bottom: 50px;
}
.space{	padding: 17px 0px;
	background: #d2d4dc;
}
ul{
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 35px;
	margin: 0;
	text-transform: uppercase;
	color: #f535aa;
	margin-top: 50px;
	position:center;
}
h2{
	font-size: 30px;
	margin: 0;
	text-transform: uppercase;
}
p {
	font-size: 19px;
	margin: 0;
	letter-spacing: 1.2px;
}

.text-center{
	text-align: center;
}
.title {
text-align: center;
	display: block;
	padding: 17px 30px;
	background: #282C2C;
	color: #f37735;
	text-transform: uppercase;
}
.title2 {
text-align: center;
	display: block;
	padding: 17px 30px;
	background: #282C2C;
	color: #ccff66;
	text-transform: uppercase;
}.title3 {
text-align: center;
	display: block;
	padding: 17px 30px;
	background: #282C2C;
	color: 	#66ccff;
	text-transform: uppercase;
}
.skil{text-align: center;
	display: block;
	padding: 17px 30px;
	background: #01cdfe;
	color: #yyyf;
	text-transform: uppercase;
	
}
 

 
 

 
 

 
 
 
